{% extends "auth/base.html" %}
{% set title = "Update Password" %}

{% block body %}

    {% if successful %}
        <div class="unverified-container">
            <div class="head" style="color: #00c853;">
                <i class="far fa-check-circle"></i>
                <span>Password Changed Successfully</span>
            </div>

            <a href="{{url_for('auth.login')}}" class="button">Login</a>
        </div>
    
    {% else %}
        <div class="login-form-container">
            <form action="" id="password-update-form" method="POST">
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" id="email" placeholder="Email ID">
                </div>
                {% if error %}
                    <span class="helper-text">{{error}}</span>
                {% endif %}

                <div class="input-field">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="New Password">
                </div>
                <span class="helper-text" id="password-helper">
                    Password must be atleast 8 Characters Long and must contain 1 Lower Case Alphabet, 1 Upper Case Alphabet, 1 Number and 1 Symbol.
                </span>

                <div class="input-field">
                    <i class="fas fa-key"></i>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                </div>
                <span class="helper-text" id="confirm-password-helper" style="display: none;">
                    Passwords do not match.
                </span>

                <button type="button" onclick="validate_updatation_form()" style="margin-top: 10%;">Update</button>
            </form>
        </div>
    {% endif %}

{% endblock %}